.timeline-title {
    text-align: center;
    padding: 10px 0;
}

.timeline {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 20px;
}

span {
    font-weight: bold;
}

li {
    line-height: 1.8;
    padding: 5px 0;
    color: rgb(51, 51, 51);
}